@import url("https://fonts.googleapis.com/css?family=Baloo+Tammudu");

body {
  background-color: skyblue;
}
.d3 {
  text-align: center;
  margin-top: 20px;
  font-family: "baloo tammudu";
}
.chart1 {
  display: flex;
  height: 200px;
  align-items: flex-end;
  background-color: lightblue;
}

.chartsWrap {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 100vh;

  display: block;
  margin: 0 auto;
}
#ctr {
}
